{% extends 'base.html' %} 
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="">Discord Football</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="https://discord.gg/NXEQaGWTcg" class="logo mr-auto"><img src="{% static 'assets/img/himage.png' %}" alt="" class="img-fluid"></a>

    
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#YourPlaceToTalk">Your Place To Talk</a></li>
          <li><a href="#GamesAndEvents">Games and Events</a></li>
          <li><a href="#LeagueChats">League Chats</a></li>
          <li><a href="#invites">Join us</a></li>
          <!--<li><a href="#contact">Contact</a></li>-->

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <h1>Discord Football</h1>
      <a href="https://discord.gg/NXEQaGWTcg" class="btn-get-started scrollto">Join the server</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Your place to talk Section ======= -->
    <section id="YourPlaceToTalk" class="yppt">
      <div class="container">
        <div class = "section-title">
          <h1>YOUR PLACE TO TALK!</h1>
        </div>
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h4><br>Organized channels for you to easily discuss your favorite Football/Soccer club, league, international team with other fans from all over the world!</h4>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End YPTT Section -->

    <hr style="width:50%;text-align:center;height:4px">

    <!-- ======= Games and Events Section ======= -->
    <section id="GamesAndEvents" class="g&e">
      <div class="container">
        <div class = "section-title">
          <h1>GAMES AND EVENTS</h1>
        </div>
        <div class="row">
          <div class="col-lg-6" data-aos="fade-right">
            <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 order-lg-1" data-aos="fade-left">
            <h4><br>Community driven events for you to show off your football trivia knowledge, video game tactics, and design skills...with Server Rewards for the winners!</h4>
          </div>
        </div>

      </div>
    </section><!-- End Games and Events Section -->

    <hr style="width:50%;text-align:center;height:4px">

    <!-- ======= League chats Section ======= -->
    <section id="LeagueChats" class="lc">
      <div class="container">
        <div class = "section-title">
          <h1>LEAGUE CHATS</h1>
        </div>
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <img src="{% static 'assets/img/leagues.png' %}" class="img-fluid" alt="" align = "right">
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h3><br>Topic focused channels to discuss and debate your favorite top flight leagues!</h3>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End League Chats Section -->

    <hr style="width:50%;text-align:center;height:4px">

    <!-- ======= Invites Section ======= -->
    <section id="invites" class="invites">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Join us!</h3>
          <h5> There are absolutely no requirements to join us. Looking forward to seeing you soon!</h5>
          <a class="invites-btn" href="https://discord.gg/NXEQaGWTcg">Join</a>
        </div>

      </div>
    </section><!-- End Invites Section -->

    
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Discord Football</h3>
              <div class="social-links mt-3">
                <a href="https://twitter.com/discordfootball" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://twitter.com/DFSPod" class="headphone"><i class='bx bx-headphone'></i></a>
                <a href="https://instagram.com/discordfootball" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://youtube.com/channel/UC0XFNSaX3z4xX4vuugAbqrQ" class="youtube"><i class="bx bxl-youtube"></i></a>
                <a href = "https://patreon.com/discordfootball" class = "pateron"><i class="bx bxl-patreon"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-10 footer-links">
            <h4>Quick Visits</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#hero">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://football-discord.creator-spring.com/?">Merchandise</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://wiki.h2880338.stratoserver.net/">Server Wiki</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://discord.gg/NXEQaGWTcg">Join us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Discord Football</span></strong>. All Rights Reserved.
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/day-multipurpose-html-template-for-free/ -->
        Designed by <a href="https://discord.gg/NXEQaGWTcg">Discord Football</a> using <a href = "https://bootstrapmade.com">Bootstrap Made</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  <div id="preloader"></div>

{% endblock %}